*.py[cod]
*~
*_flymake.*
*.orig
*.db
*.db-journal
*.log
*.patch
*.diff
*.egg-info
venv
logs
reports
.dir-locals.el
settings_local.py
aws_local.py
/static
/dist
media
build
.DS_Store
.idea
.projectile
.envrc
*.sublime-project
*.sublime-workspace
